html>* {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px 5%;
	min-width: 1024px;
   counter-reset: figs;
}

body.page header {
	position: fixed;
	top: 0px;
	width: 90%;
	min-width: 1024px;
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 12px #333;
	border-radius: 0px 0px 8px 8px;
}

body.page header h1,
body.page header h2,
body.page header h3 {
	margin-right: 20px;
	display: inline;
}

body.page header img.logo {
	float: right;
	padding: 5px;
	margin: 5px;
}
body.page header img.sc {
	float: right;
	padding: 5px;
	margin: 5px;
	width:80px;
	border:1px solid #666;
}

body.page header nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
}

body.page header nav ul li {
	display: inline-block;
}

body.page header nav ul li a {
	display: block;
	margin: 4px 2px;
	padding: 4px 8px;
	padding-right: 20px;
	min-width: 60px;
	color: #fff;
	text-decoration: none;
	border-radius: 2px 4px 2px 4px;
	background-color: #666;
}

body.page header nav ul li a:before {
	content: " » ";
}

body.page header nav ul li a.selected {
	background-color: #fff;
	color: #000;
}

body.page section {
	background-color: #fff;
	color: #000;
	margin-top: 5em;
	margin-bottom: 10em;
	width:100%;
}

body.page section article {
	margin: 0px;	/*padding: 10px;*/
	padding:2em;
	margin-left:2em;
	padding-top: 2em;
	border-bottom: 1px dotted #777;	/*border-left:1px dotted #777;*/
	background-color:#eee;
}

body.page section article:last-child {
	margin-bottom: 60px;
}

body.page section article figure {
    display:block;
    text-align: center;
	margin: 1em 25%;
	text-align: center;
	border:1px dotted #ddd;
    width:45%;
	padding:1em;
}
body.page section article figure.landscape {
    display:block;
	margin: 1em 20%;
}

body.page section article figure figcaption {
	font-size:0.8em;
	border-top:1px dotted #ddd;
	margin-top:1em;
	padding-top:0.5em;
	text-align: center;
	color:#666;
}
body.page section article figure figcaption:before {
	counter-increment: figs;
	content: "figure " counter(figs) " - ";
}
body.page section article figure img.screenshot {
    display:block;
	padding: 0px;
	margin:0px;
	width: 100%;
	box-shadow: 4px 4px 8px #333;
}
body.page section article figure.console {
	margin: 1em 10%;
    width:80%;
	text-align: center;
}

body.page section article figure.console pre {
	border: 1px solid darkgreen;
	background-color: black;
	color: lightgreen;
	padding: 1em;
	margin: 1em 0em;
	border-radius: 4px;
	font-size: 12pt;
	text-align: left;
}

body.page section article blockquote {
	margin: 6em 3em;
	padding: 1em;
	background-color: #f2f2f2;
	border-radius: 4px;
	width: 60%;
	box-shadow: 4px 4px 8px #000;
}

blockquote.warning {
	background-image: url("../images/icons/warning-48x48.png");
	background-repeat: no-repeat;
	background-position: 1em 1em;
	background-color: #333;
}

body.page section article blockquote p {
	text-align: justify;
	margin: 0px;
	padding: 4px;
	margin-left: 60px;
}

body.page section article blockquote h1 {
	margin: 0px;
	padding: 4px;
	margin-left: 60px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

body.page section article code {
	padding: 2px 8px;
	margin: 0px 4px;
	box-shadow: 2px 2px 4px #333, -2px -2px 6px #eee;
	line-height: 2em;
	font-variant: small-caps;
	border-radius: 4px;
	background-color: #eee;
	color: #333;
}

body.page section article code:hover {
	box-shadow: 2px 2px 4px #fff, -2px -2px 4px #333;
	cursor: crosshair;
}

body.page section article div.screenshots {
	padding:0px;
}

body.page section article div.screenshots ul {
	list-style: none;
	padding:0px;
}

body.page section article div.screenshots ul li {
	padding:0px;
}

body.page section article div.screenshots ul li {
	display: inline-block;
	padding:0px;
}

body.page section article div.screenshots ul li a img {
	width: 240px;
}

body.page section article div.screenshots ul li a img.medium {
	width: 320px;
}

body.page section article h1 {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	font-size: 24pt;
	border-bottom: 1px dotted #000;
}

body.page section article h1 span {
	float: right;
	margin: 0px;
	background-color: #333;
	border-radius: 20px;
	padding: 8px;
	font-size: 11pt;
	color: #fff;
	margin-top: 20px;
}

body.page section article p {
	margin: 0px;
	padding: 5px;
	/*padding-left: 20px;*/
	padding-right: 0px;
	margin-right: 1em;
}

body.page section article div.tags {
	float: right;
	display: inline;
	margin-right: 2em;
	margin-top:1.5em;
}

body.page section article div.author {
	float: left;
	background-color: #000;
	color: #fff;
	padding: 2px 4px;
	margin-right: 4px;
	margin-top:1.5em;
	border-radius: 4px;
	border-left:16px solid #999;
	border-right:16px solid #999;
}

body.page section article div.tags span {
	background-color: #000;
	color: #fff;
	padding: 2px 4px;
	margin-left: 4px;
	font: 10pt monospace;
	border-radius: 4px;
	border-left:12px solid #999;
}
body.page section article div.tags span.project {
	border-left:12px solid #f00;
}
body.page section article div.tags span.type {
	border-left:12px solid #090;
}
body.page section article div.tags span.component {
	border-left:12px solid #009;
}
body.page section article div.tags span.news {
	border-left:12px solid #FA3;
}

body.page footer {
	position: fixed;
	text-align: center;
	display: block;
	height: 32px;
	width: 90%;
	min-width: 1024px;
	bottom: 0px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	box-shadow: 0px -40px 60px rgba(255, 255, 255, 0.6);
	border-radius: 8px 8px 0px 0px;
}

body.page footer a {
	background-color: #000;
	color: #fff;
	border-bottom: 1px dotted #ddd;
	text-decoration: none;
}

.clear {
	clear: both;
}