html>* {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px 20%;
	min-width:800px;
}

body.page header {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 12px #333;
	border-radius: 0px 0px 8px 8px;
}

body.page header h1,
body.page header h2,
body.page header h3 {
	margin-right: 20px;
	display:inline;
}
body.page header img.logo {
	float: right;
	padding: 5px;
	margin: 5px;
}

body.page header nav ul{
	list-style: none;
}
body.page header nav ul li{
	display:inline-block;
}
body.page header nav ul li a{
	display:block;
	margin:4px 2px;
	padding: 4px 8px;
	padding-right:20px;
	min-width:60px;
 	color:#000;
	text-decoration:none;
	border-radius:8px 2px 8px 2px;
	background-color:#ddd;
}
body.page header nav ul li a:before{
	content:" » ";
}
body.page header nav ul li a.selected{
	background-color:#999;
	color:white;
}
body.page section {
	background-color: #fff;
	color: #000;
}


body.page section article {
	margin: 10px 20px;
	padding: 10px;
	padding-top:2em;
	border-bottom: 1px dotted #777;
	margin-bottom: -10px;
}

body.page section article:last-child {
	margin-bottom:60px;
}
body.page section article:FIRST-CHILD {
	padding: 10px;
}

body.page section article div.screenshots{
	padding: 20px;
}
body.page section article div.screenshots ul {
	text-align: center;
	list-style: none;
}

body.page section article div.screenshots ul li {
	
}

body.page section article div.screenshots ul li {
	display: inline-block;
}

body.page section article div.screenshots ul li a img {
	width: 240px;
}
body.page section article div.screenshots ul li a img.medium {
	width: 320px;
}
body.page section article h1 {
	font-size:24pt;
	vertical-align: middle;
}
body.page section article h1 span {
	background-color:#333;
	margin: 0px 10px 0px 0px;
	border-radius: 20px ;
	padding:8px;
	font-size:11pt;
	color:#fff;
	vertical-align: middle;
}
body.page section article p {
	margin: 0px;
	padding:10px;
	padding-left: 20px;
}

body.page section article div.tags {
	float: right;
	display: inline;
}

body.page section article div.author {
	float: left;
	font: 11pt monospace;
	background-color: #000;
	color: #fff;
	padding: 2px 4px;
	margin-right: 4px;
}

body.page section article div.tags span {
	background-color: #000;
	color: #fff;
	padding: 2px 4px;
	margin-left: 4px;
	font: 10pt monospace;
}

body.page footer {
	position: fixed;
	text-align: center;
	display: block;
	height: 32px;
	width: 60%;
	min-width:800px;
	bottom: 0px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	box-shadow: 0px 4px -12px #333;
	border-radius: 8px 8px 0px 0px;
}

body.page footer a {
	background-color: #000;
	color: #fff;
	border-bottom: 1px dotted #ddd;
	text-decoration: none;
}