html > * {
	font-family: Arial;
	margin:0px;
	padding:0px;
}
body{
	margin:0px 10%;
}
body.page header{
	background-color:#000;
	color:#fff;
	padding:10px 	20px;
	margin-bottom:10px;
	box-shadow: 0px 4px 12px #333;
}

body.page header img.logo{
	float:right;
	padding:5px;
	margin:5px;
}
body.page section {
	background-color:#fff;
	color:#000;
}
body.page section article{
	margin:10px 20px;
	padding:10px;
	border-top:none;
}
body.page section article ul.screenshots li{
	text-align:center;
}
body.page section article ul.screenshots li{
	display:inline-block;
	list-style: none;
}
body.page section article ul.screenshots li a img{
	width:240px;
}
body.page section article p{
	margin:0px;
	padding:5px;
}
body.page section article code{
	float:right;
}
body.page section article:last-child{
	border-top:1px dotted #777;
}
body.page footer {
	position:absolute;
	text-align:center;
	display:block;
	height: 32px;
	width:80%;
	bottom:0px;
	padding:10px;
	background-color:#000;
	color:#fff;
	box-shadow:0px 4px -12px #333;
}
body.page footer a{
	background-color:#000;
	color:#fff;
	border-bottom:1px dotted #ddd;
}
