<<article >
	<h1><span>04</span>A first beta download ?</h1>
			<figure>
				<a href="downloads/artifact-0.0.2.zip" title="click to download">
					<img class="screenshot" src="images/screenshots/artifact-level1.png" alt="Artifact remastered, click to download !">
				</a>
				<figcaption>Artifact remastered, click to download !</figcaption>
			</figure>
			<div class="clear"></div>

			<div class="author">McGivrer, @2015JULY06</div>
			<div class="tags">
				<span>#gameengine</span> <span>#artifact</span> <span>#core</span>
			</div>
</article>